{% comment %}
  ---------------------------------------------------------
  Copyright © 2025 Section Store. All rights reserved.
  Unauthorized copying, modification, distribution, or use
  of this code or any portion of it, is strictly prohibited.
  Violators will be prosecuted to the fullest extent of the law.
  For inquiries or permissions, contact daniel@section.store
  ---------------------------------------------------------
{% endcomment %}

{%- liquid
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign padding_top = section.settings.padding_top
  assign padding_bottom = section.settings.padding_bottom
  assign border_color = section.settings.border_color
  assign border_thickness = section.settings.border_thickness
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal
  assign background_color = section.settings.background_color
  assign background_gradient = section.settings.background_gradient
  assign lazy = section.settings.lazy
  assign section_radius = section.settings.section_radius

  assign section_position = section.settings.section_position

  assign products = section.settings.products
  assign cards_per_row = section.settings.cards_per_row
  assign cards_per_row_mobile = section.settings.cards_per_row_mobile
  assign cards_gap = section.settings.cards_gap
  assign cards_gap_mobile = section.settings.cards_gap_mobile
  assign cards_mt = section.settings.cards_mt
  assign cards_mt_mobile = section.settings.cards_mt_mobile

  assign card_padding_vertical = section.settings.card_padding_vertical
  assign card_padding_vertical_mobile = section.settings.card_padding_vertical_mobile
  assign card_padding_horizontal = section.settings.card_padding_horizontal
  assign card_padding_horizontal_mobile = section.settings.card_padding_horizontal_mobile
  assign card_border_thickness = section.settings.card_border_thickness
  assign card_border_color = section.settings.card_border_color
  assign card_border_active_color = section.settings.card_border_active_color
  assign card_radius = section.settings.card_radius
  assign card_bg_color = section.settings.card_bg_color
  assign card_align = section.settings.card_align
  assign card_align_mobile = section.settings.card_align_mobile

  assign card_horizontal_align = ''
  if card_align == 'center'
    assign card_horizontal_align = 'center'
  elsif card_align == 'right'
    assign card_horizontal_align = 'end'
  else
    assign card_horizontal_align = 'start'
  endif

  assign card_horizontal_align_mobile = ''
  if card_align_mobile == 'center'
    assign card_horizontal_align_mobile = 'center'
  elsif card_align_mobile == 'right'
    assign card_horizontal_align_mobile = 'end'
  else
    assign card_horizontal_align_mobile = 'start'
  endif

  assign image_border_thickness = section.settings.image_border_thickness
  assign image_border_color = section.settings.image_border_color
  assign image_radius = section.settings.image_radius
  assign image_ratio = section.settings.image_ratio
  assign image_ratio_mobile = section.settings.image_ratio_mobile

  assign product_title_size = section.settings.product_title_size
  assign product_title_size_mobile = section.settings.product_title_size_mobile
  assign product_title_color = section.settings.product_title_color
  assign product_title_font = section.settings.product_title_font
  assign product_title_height = section.settings.product_title_height
  assign product_title_custom = section.settings.product_title_custom
  assign product_title_mt = section.settings.product_title_mt
  assign product_title_mt_mobile = section.settings.product_title_mt_mobile

  assign product_price_custom = section.settings.product_price_custom
  assign product_price_font = section.settings.product_price_font
  assign product_price_size = section.settings.product_price_size
  assign product_price_size_mobile = section.settings.product_price_size_mobile
  assign product_price_height = section.settings.product_price_height
  assign product_price_color = section.settings.product_price_color
  assign product_price_original_color = section.settings.product_price_original_color
  assign product_price_mt = section.settings.product_price_mt
  assign product_price_mt_mobile = section.settings.product_price_mt_mobile
  assign product_price_compare = section.settings.product_price_compare

  assign form_class = section.settings.form_class

  assign loading_attribute = 'eager'
  if lazy
    assign loading_attribute = 'lazy'
  endif
-%}

{%- style -%}
  {{ product_title_font | font_face: font_display: 'swap' }}
  {{ product_price_font | font_face: font_display: 'swap' }}

  .section-{{ section.id }} {
    border-top: solid {{ border_color }} {{ border_thickness }}px;
    border-bottom: solid {{ border_color }} {{ border_thickness }}px;
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    border-radius: {{ section_radius | times: 0.6 | round: 0 }}px;
    overflow: hidden;
  }

  .section-{{ section.id }}-settings {
    margin: 0 auto;
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
  }

  .addons-cards-{{ section.id }} {
    display: grid;
    grid-template-columns: repeat({{ cards_per_row_mobile }}, 1fr);
    gap: {{ cards_gap_mobile }}px;
    margin-top: {{ cards_mt_mobile }}px;
  }

  .addons-card-{{ section.id }} {
    cursor: pointer;
    padding: {{ card_padding_vertical_mobile }}px {{ card_padding_horizontal_mobile }}px;
    border-radius: {{ card_radius }}px;
    overflow: hidden;
    background-color: {{ card_bg_color }};
    border: {{ card_border_thickness }}px solid {{ card_border_color }}
  }

  .addons-card-{{ section.id }}.active {
    border: {{ card_border_thickness | plus: 1 }}px solid {{ card_border_active_color }};
  }

  .addons-image-{{ section.id }} {
    border: {{ image_border_thickness }}px solid {{ image_border_color }};
    border-radius: {{ image_radius }}px;
    overflow: hidden;
  }

  .addons-image-{{ section.id }} img,
  .addons-image-{{ section.id }} svg {
    display: block;
    width: 100%;
    height: 100%;
    object-fit: cover;
  }

  .addons-image-{{ section.id }} svg {
    background-color: #AFAFAF;
  }

  .addons-title-{{ section.id }} {
    margin: 0;
    display: block;
    text-decoration: none;
    text-align: {{ card_align_mobile }};
    margin-top: {{ product_title_mt_mobile }}px;
    font-size: {{ product_title_size_mobile }}px;
    color: {{ product_title_color }};
    line-height: {{ product_title_height }}%;
    text-transform: unset;
    word-break: break-word;
    transition: all 0.25s ease 0s;
  }

  .addons-price-{{ section.id }} {
    margin-top: {{ product_price_mt_mobile }}px;
    width: 100%;
    display: flex;
    align-items: center;
    gap: 5px;
    justify-content: {{ card_horizontal_align_mobile }};
  }

  .addons-price-{{ section.id }} * {
    margin: 0;
    text-align: {{ card_align_mobile }};
    font-size: {{ product_price_size_mobile }}px;
    color: {{ product_price_color }};
    line-height: {{ product_price_height }}%;
    text-transform: unset;
    word-break: break-word;
    transition: all 0.25s ease 0s;
    font-weight: 700;
  }

  .addons-compare-price-{{ section.id }} {
    text-decoration: line-through;
    color: {{ product_price_original_color }};
  }


  @media(min-width: 1024px) {

    .section-{{ section.id }} {
      margin-top: {{ margin_top }}px;
      margin-bottom: {{ margin_bottom }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }

    .section-{{ section.id }}-settings {
      padding: 0 5rem;
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }

    .addons-cards-{{ section.id }} {
      grid-template-columns: repeat({{ cards_per_row }}, 1fr);
      gap: {{ cards_gap }}px;
      margin-top: {{ cards_mt }}px;
    }

    .addons-card-{{ section.id }} {
      padding: {{ card_padding_vertical }}px {{ card_padding_horizontal }}px;
    }

    .addons-title-{{ section.id }} {
      text-align: {{ card_align }};
      margin-top: {{ product_title_mt }}px;
      font-size: {{ product_title_size }}px;
    }

    .addons-price-{{ section.id }} {
      margin-top: {{ product_price_mt }}px;
      justify-content: {{ card_horizontal_align }};
    }

    .addons-price-{{ section.id }} * {
      text-align: {{ card_align }};
      font-size: {{ product_price_size }}px;
    }
  }
{%- endstyle -%}

{% if margin_horizontal_mobile > 0 %}
  <style>
    .section-{{ section.id }} {
      border-left: solid {{ border_color }} {{ border_thickness }}px;
      border-right: solid {{ border_color }} {{ border_thickness }}px;
    }

    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: 0px;
        border-right: 0px;
      }
    }
  </style>
{% endif %}

{% if margin_horizontal > 0 %}
  <style>
    @media(min-width: 1024px) {
      .section-{{ section.id }} {
        border-left: solid {{ border_color }} {{ border_thickness }}px;
        border-right: solid {{ border_color }} {{ border_thickness }}px;
      }
    }
  </style>
{% endif %}

{% if product_title_custom %}
  <style>
    .addons-title-{{ section.id }} {
      font-family: {{ product_title_font.family }}, {{ product_title_font.fallback_families }};
      font-weight: {{ product_title_font.weight }};
      font-style: {{ product_title_font.style }};
    }
  </style>
{% endif %}

{% if product_price_custom %}
  <style>
    .addons-price-{{ section.id }} * {
      font-family: {{ product_price_font.family }}, {{ product_price_font.fallback_families }};
      font-weight: {{ product_price_font.weight }};
      font-style: {{ product_price_font.style }};
    }
  </style>
{% endif %}

{% if image_ratio_mobile == 'portrait' %}
  <style>
    .addons-image-{{ section.id }} {
      aspect-ratio: 9.6/13;
    }
  </style>
{% elsif image_ratio_mobile == 'landscape' %}
  <style>
    .addons-image-{{ section.id }} {
      aspect-ratio: 12/8;
    }
  </style>
{% elsif image_ratio_mobile == 'square' %}
  <style>
    .addons-image-{{ section.id }} {
      aspect-ratio: 12/12;
    }
  </style>
{% else %}
  <style>
    .addons-image-{{ section.id }} {
      aspect-ratio: auto;
    }
  </style>
{% endif %}

{% if image_ratio == 'portrait' %}
  <style>
    @media(min-width: 1024px) {
      .addons-image-{{ section.id }} {
        aspect-ratio: 9.6/13;
      }
    }
  </style>
{% elsif image_ratio == 'landscape' %}
  <style>
    @media(min-width: 1024px) {
      .addons-image-{{ section.id }} {
        aspect-ratio: 12/8;
      }
    }
  </style>
{% elsif image_ratio == 'square' %}
  <style>
    @media(min-width: 1024px) {
      .addons-image-{{ section.id }} {
        aspect-ratio: 12/12;
      }
    }
  </style>
{% else %}
  <style>
     @media(min-width: 1024px) {
      .addons-image-{{ section.id }} {
        aspect-ratio: auto;
      }
    }
  </style>
{% endif %}

{% for block in section.blocks %}
  {% case block.type %}
    {% when 'heading' %}
      <style>
        {{  block.settings.heading_font | font_face: font_display: 'swap' }}

        .addons-heading-{{ block.id }} {
          text-align: {{ block.settings.heading_align_mobile }};
        }

        .addons-heading-{{ block.id }} * {
          margin: 0;
          font-size: {{ block.settings.heading_size_mobile }}px;
          color: {{ block.settings.heading_color }};
          line-height: {{ block.settings.heading_height }}%;
          text-transform: unset;
          text-decoration: none;
          word-break: break-word;
        }

        @media(min-width: 1024px) {
          .addons-heading-{{ block.id }} {
            text-align: {{ block.settings.heading_align }};
          }

          .addons-heading-{{ block.id }} * {
            font-size: {{ block.settings.heading_size }}px;
          }
        }
      </style>

      {% if block.settings.heading_custom %}
        <style>
          .addons-heading-{{ block.id }} * {
            font-family: {{ block.settings.heading_font.family }}, {{ block.settings.heading_font.fallback_families }};
            font-weight: {{ block.settings.heading_font.weight }};
            font-style: {{ block.settings.heading_font.style }};
          }
        </style>
      {% endif %}
    {% else %}

  {% endcase %}
{% endfor %}
<script>
  (function () {
    function moreLoadProductForm() {
      var productForm = document.querySelector('#ss-product-addons-3');
      if (!productForm) {
        var productForm = document.querySelector(
          '{% if section_position == "below_title" or section_position == "above_title" %}.product__title{% elsif section_position == "below_description" or section_position == "above_description" %}.product__description{% elsif section_position == "below_price" %}.price.price--large.price--show-badge{% else %}.button--add-to-cart, .product .product-form, .product-single__add-to-cart, .shopify-payment-button, .shopify-payment-button__button, .ProductForm__BuyButtons, .add-to-cart{% endif %}'
        );
        if (!productForm) return;
      }
      const templateContent = document.querySelector('#ss-addons-{{ section.id }}').content;

      productForm.insertAdjacentElement(
        '{% if section_position == "below_buy" or section_position == "below_title" or section_position == "below_description" or section_position == "below_price" %}afterend{% else %}beforebegin{% endif %}',
        templateContent.firstElementChild
      );
    }
    window.addEventListener('DOMContentLoaded', moreLoadProductForm);
  })();
</script>

<template id="ss-addons-{{ section.id }}">
  <div
    class="section-{{ section.id }} addons-{{ section.id }}"
    style="background-color:{{ background_color }}; background-image: {{ background_gradient }};"
  >
    <div class="section-{{ section.id }}-settings">
      {% for block in section.blocks %}
        {% if block.type == 'heading' %}
          {% if block.settings.heading != blank %}
            <div class="addons-heading-{{ block.id }}">{{ block.settings.heading }}</div>
          {% endif %}
        {% endif %}
      {% endfor %}
      <div class="addons-cards-{{ section.id }}">
        {% if products != blank %}
          {% for product in products %}
            <div class="addons-card-{{ section.id }}" data-product-id="{{ product.id }}">
              <input
                type="checkbox"
                class="addons-input-{{ section.id }}"
                style="display: none;"
                id="addons-input-{{ product.id }}"
                value="{{ product.id }}"
                name="addons-input-{{ product.id }}"
              >
              <div class="addons-image-{{ section.id }}">
                {% if product.featured_image != blank %}
                  {{
                    product.featured_image
                    | image_url: width: 1500
                    | image_tag:
                      loading: loading_attribute,
                      sizes: '(min-width: 1024px) 100vw, 100vw',
                      widths: '375, 550, 750, 1100, 1500, 1780, 2000, 3000',
                      alt: product.featured_image.alt
                    | escape
                  }}
                {% else %}
                  {{ 'image' | placeholder_svg_tag }}
                {% endif %}
              </div>
              <p class="addons-title-{{ section.id }}">{{ product.title }}</p>
              <div class="addons-price-{{ section.id }}">
                {% if product_price_compare and product.compare_at_price != blank %}
                  <p class="addons-compare-price-{{ section.id }}">{{ product.compare_at_price | money }}</p>
                {% endif %}
                <p class="addons-regular-price-{{ section.id }}">
                  {{ product.price | money }}
                </p>
              </div>
            </div>
          {% endfor %}
        {% endif %}
      </div>
    </div>
  </div>
</template>

<script>
  function initProductAddons3() {
    const addonCards = document.querySelectorAll('.addons-card-{{ section.id }}');

    addonCards.forEach(card => {
      card.addEventListener('click', function() {
        const checkbox = this.querySelector('.addons-input-{{ section.id }}');
        if (checkbox) {
          checkbox.checked = !checkbox.checked;
          const event = new Event('change');
          checkbox.dispatchEvent(event);
        }
      });

      const checkbox = card.querySelector('.addons-input-{{ section.id }}');
      if (checkbox) {
        checkbox.addEventListener('change', function() {
          if (this.checked) {
            card.classList.add('active');
          } else {
            card.classList.remove('active');
          }
        });

        if (checkbox.checked) {
          card.classList.add('active');
        }
      }
    });

    {% if products != blank %}
      {% for product in products %}
        document.querySelector('#addons-input-{{ product.id }}').addEventListener('change', () => {
          console.log('change');
          var productIdInput = document.createElement('input');
          productIdInput.type = 'hidden';
          productIdInput.name = 'items[' + {{ forloop.index0 }} + '][id]';
          productIdInput.id = '{{ product.selected_or_first_available_variant.id }}';
          productIdInput.value = '{{ product.selected_or_first_available_variant.id }}';

          var quantityInput = document.createElement('input');
          quantityInput.type = 'hidden';
          quantityInput.name = 'items[' + {{ forloop.index0 }} + '][quantity]';
          quantityInput.value = '1';
          quantityInput.id = '{{ product.selected_or_first_available_variant.id }}';

          const currentCheckbox = document.querySelector('#addons-input-{{ product.id }}'); // Получаем текущий чекбокс внутри обработчика change

          if(currentCheckbox.checked) {
            if(document.querySelectorAll('form[action="/cart/add"][enctype="multipart/form-data"]')) {
              document.querySelectorAll('form[action="/cart/add"][enctype="multipart/form-data"]').forEach(el => {
                el.appendChild(productIdInput);
              })
            } else {
              {% if form_class != blank %}
                if(document.querySelector('.{{ form_class }}')) {
                  document.querySelector('.{{ form_class }}').appendChild(productIdInput);
                }
              {% endif %}
            }
            if(document.querySelectorAll('form[action="/cart/add"][enctype="multipart/form-data"]')) {
              document.querySelectorAll('form[action="/cart/add"][enctype="multipart/form-data"]').forEach(el => {
                el.appendChild(quantityInput);
              })
            } else {
              {% if form_class != blank %}
                if(document.querySelector('.{{ form_class }}')) {
                  document.querySelector('.{{ form_class }}').appendChild(quantityInput);
                }
              {% endif %}
            }
          } else {

            const existingProductIdInput = document.querySelector('input[name="items[{{forloop.index0}}][id]"][id="{{ product.selected_or_first_available_variant.id }}"]');
            if (existingProductIdInput) {
                existingProductIdInput.remove();
            }

            const existingQuantityInput = document.querySelector('input[name="items[{{forloop.index0}}][quantity]"][id="{{ product.selected_or_first_available_variant.id }}"]');
            if (existingQuantityInput) {
                existingQuantityInput.remove();
            }
          }
        });
      {% endfor %}
    {% endif %}
  }

  window.addEventListener('DOMContentLoaded', initProductAddons3);

  if (window.Shopify && Shopify.designMode) {
    window.addEventListener('shopify:section:load', initProductAddons3);
    window.addEventListener('shopify:section:unload', initProductAddons3);
  }
</script>

{% schema %}
{
  "name": "Product addons #3",
  "settings": [
    {
      "type": "header",
      "content": "⚠️ Save settings to view updates",
      "info": "Learn how to add snippet sections with [this tutorial](https://section-store.helpscoutdocs.com/article/10-adding-product-page-snippets)"
    },
    {
      "type": "paragraph",
      "content": "Learn how to include dynamic content per product with [this tutorial](https://section-store.helpscoutdocs.com/article/17-dynamic-content-settings-per-product)"
    },
    {
      "type": "header",
      "content": "Custom placement",
      "info": "Copy this code: <div id='ss-product-addons-3'></div> - Click 'Add block' -> Custom Liquid/HTML -> Paste."
    },
    {
      "type": "select",
      "id": "section_position",
      "label": "Position",
      "default": "below_buy",
      "options": [
        {
          "label": "Above buy buttons",
          "value": "above_buy"
        },
        {
          "label": "Below buy buttons",
          "value": "below_buy"
        },
        {
          "label": "Above product title",
          "value": "above_title"
        },
        {
          "label": "Below product title",
          "value": "below_title"
        },
        {
          "label": "Above product description",
          "value": "above_description"
        },
        {
          "label": "Below product description",
          "value": "below_description"
        },
        {
          "label": "Below price",
          "value": "below_price"
        }
      ]
    },
    {
      "type": "header",
      "content": "Products"
    },
    {
      "type": "product_list",
      "id": "products",
      "label": "Products",
      "info": "Important: Only add products that don't have variations. Customers can't select specific sizes, colors, or other options when adding these products."
    },
    {
      "type": "header",
      "content": "Layout"
    },
    {
      "type": "range",
      "id": "cards_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap",
      "default": 8
    },
    {
      "type": "range",
      "id": "cards_gap_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Gap - mobile",
      "default": 8
    },
    {
      "type": "range",
      "id": "cards_per_row",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Products per row",
      "default": 3
    },
    {
      "type": "range",
      "id": "cards_per_row_mobile",
      "min": 1,
      "max": 4,
      "step": 1,
      "label": "Products per row - mobile",
      "default": 3
    },
    {
      "type": "range",
      "id": "cards_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 12
    },
    {
      "type": "range",
      "id": "cards_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 12
    },
    {
      "type": "header",
      "content": "Card"
    },
    {
      "type": "range",
      "id": "card_padding_horizontal",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal",
      "default": 4
    },
    {
      "type": "range",
      "id": "card_padding_horizontal_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding horizontal - mobile",
      "default": 4
    },
    {
      "type": "range",
      "id": "card_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "card_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Padding vertical - mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "card_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 16
    },
    {
      "type": "range",
      "id": "card_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 1
    },
    {
      "type": "text_alignment",
      "id": "card_align",
      "label": "Alignment",
      "default": "center"
    },
    {
      "type": "text_alignment",
      "id": "card_align_mobile",
      "label": "Alignment - mobile",
      "default": "center"
    },
    {
      "type": "header",
      "content": "Image"
    },
    {
      "type": "range",
      "id": "image_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Roundness",
      "default": 0
    },
    {
      "type": "range",
      "id": "image_border_thickness",
      "min": 0,
      "max": 10,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "select",
      "id": "image_ratio",
      "label": "Aspect ratio",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "select",
      "id": "image_ratio_mobile",
      "label": "Aspect ratio - mobile",
      "default": "square",
      "options": [
        {
          "label": "Portrait",
          "value": "portrait"
        },
        {
          "label": "Square",
          "value": "square"
        },
        {
          "label": "Landscape",
          "value": "landscape"
        },
        {
          "label": "Original",
          "value": "original"
        }
      ]
    },
    {
      "type": "header",
      "content": "Product title"
    },
    {
      "type": "checkbox",
      "id": "product_title_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "product_title_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.product_title_custom }}"
    },
    {
      "type": "range",
      "id": "product_title_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 13
    },
    {
      "type": "range",
      "id": "product_title_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "product_title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 150
    },
    {
      "type": "range",
      "id": "product_title_mt",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 10
    },
    {
      "type": "range",
      "id": "product_title_mt_mobile",
      "min": 0,
      "max": 40,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 10
    },
    {
      "type": "header",
      "content": "Product price"
    },
    {
      "type": "checkbox",
      "id": "product_price_custom",
      "label": "Use custom font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "product_price_font",
      "label": "Font family",
      "default": "josefin_sans_n4",
      "visible_if": "{{ section.settings.product_price_custom }}"
    },
    {
      "type": "range",
      "id": "product_price_size",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size",
      "default": 12
    },
    {
      "type": "range",
      "id": "product_price_size_mobile",
      "min": 0,
      "max": 40,
      "step": 1,
      "unit": "px",
      "label": "Font size - mobile",
      "default": 12
    },
    {
      "type": "range",
      "id": "product_price_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Line height",
      "default": 130
    },
    {
      "type": "range",
      "id": "product_price_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top",
      "default": 16
    },
    {
      "type": "range",
      "id": "product_price_mt_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Margin top - mobile",
      "default": 16
    },
    {
      "type": "checkbox",
      "id": "product_price_compare",
      "label": "Show compare-at price",
      "default": true
    },
    {
      "type": "header",
      "content": "Card colors"
    },
    {
      "type": "color",
      "label": "Background",
      "id": "card_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "card_border_color",
      "default": "#CCCCCC"
    },
    {
      "type": "color",
      "label": "Border active",
      "id": "card_border_active_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Image border",
      "id": "image_border_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Product title",
      "id": "product_title_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Price",
      "id": "product_price_color",
      "default": "#121212"
    },
    {
      "type": "color",
      "label": "Compare-at price",
      "id": "product_price_original_color",
      "default": "#AFAFAF"
    },
    {
      "type": "header",
      "content": "Section colors"
    },
    {
      "type": "color",
      "label": "Section background",
      "id": "background_color",
      "default": "transparent"
    },
    {
      "type": "color_background",
      "id": "background_gradient",
      "label": "Section background gradient",
      "info": "Remove gradient to replace with solid colors"
    },
    {
      "type": "color",
      "label": "Border",
      "id": "border_color",
      "default": "#121212"
    },
    {
      "type": "header",
      "content": "Section margin (outside)"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Sides - mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section padding (inside)"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Sides - mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section"
    },
    {
      "type": "range",
      "id": "border_thickness",
      "min": 0,
      "max": 50,
      "step": 1,
      "unit": "px",
      "label": "Border thickness",
      "default": 0
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images for speed optimisation",
      "default": true
    },
    {
      "type": "text",
      "label": "Form class",
      "id": "form_class",
      "info": "Default form class is 'form'. Write this if your form have other class!"
    }
  ],
  "blocks": [
    {
      "type": "heading",
      "name": "Heading",
      "settings": [
        {
          "type": "richtext",
          "id": "heading",
          "label": "Heading",
          "default": "<p>Product addons #3</p>"
        },
        {
          "type": "checkbox",
          "id": "heading_custom",
          "label": "Use custom font",
          "default": false
        },
        {
          "type": "font_picker",
          "id": "heading_font",
          "label": "Font family",
          "default": "josefin_sans_n4",
          "visible_if": "{{ block.settings.heading_custom }}"
        },
        {
          "type": "range",
          "id": "heading_size",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "Font size",
          "default": 18
        },
        {
          "type": "range",
          "id": "heading_size_mobile",
          "min": 0,
          "max": 40,
          "step": 2,
          "unit": "px",
          "label": "Font size - mobile",
          "default": 18
        },
        {
          "type": "range",
          "id": "heading_height",
          "min": 50,
          "max": 200,
          "step": 10,
          "unit": "%",
          "label": "Line height",
          "default": 150
        },
        {
          "type": "text_alignment",
          "id": "heading_align",
          "label": "Alignment"
        },
        {
          "type": "text_alignment",
          "id": "heading_align_mobile",
          "label": "Alignment - mobile"
        },
        {
          "type": "color",
          "label": "Color",
          "id": "heading_color",
          "default": "#121212"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Product addons #3",
      "blocks": [
        {
          "type": "heading"
        }
      ]
    }
  ]
}
{% endschema %}
