{%- liquid

  assign background_color = section.settings.background_color

  assign height = section.settings.height
  assign height_mobile = section.settings.height_mobile

  assign section_radius = section.settings.section_radius
  assign section_width = section.settings.section_width

  assign interval = section.settings.interval
  assign image_object_fit = section.settings.image_object_fit
  assign play_button_image = section.settings.play_button_image

  assign vertical_alignment = section.settings.vertical_alignment
  assign horizontal_alignment = section.settings.horizontal_alignment

  assign padding_top =  section.settings.padding_top
  assign padding_bottom =  section.settings.padding_bottom
  assign padding_horizontal = section.settings.padding_horizontal
  assign padding_horizontal_mobile = section.settings.padding_horizontal_mobile
  assign margin_top = section.settings.margin_top
  assign margin_bottom = section.settings.margin_bottom
  assign margin_horizontal_mobile = section.settings.margin_horizontal_mobile
  assign margin_horizontal = section.settings.margin_horizontal

  assign overlay_color = section.settings.overlay_color
  assign overlay_opacity = section.settings.overlay_opacity

  assign title_size = section.settings.title_size
  assign title_size_mobile = section.settings.title_size_mobile
  assign title_color = section.settings.title_color
  assign title_custom = section.settings.title_custom
  assign title_font = section.settings.title_font
  assign title_height = section.settings.title_height

  assign subtitle_size = section.settings.subtitle_size
  assign subtitle_size_mobile = section.settings.subtitle_size_mobile
  assign subtitle_color = section.settings.subtitle_color
  assign subtitle_custom = section.settings.subtitle_custom
  assign subtitle_font = section.settings.subtitle_font
  assign subtitle_height = section.settings.subtitle_height
  assign subtitle_mt = section.settings.subtitle_mt

  assign buttons_mt = section.settings.buttons_mt
  assign buttons_gap = section.settings.buttons_gap

  assign button_size = section.settings.button_size
  assign button_size_mobile = section.settings.button_size_mobile
  assign button_color = section.settings.button_color
  assign button_hover_color = section.settings.button_hover_color
  assign button_custom = section.settings.button_custom
  assign button_font = section.settings.button_font
  assign button_height = section.settings.button_height
  assign button_padding_vertical = section.settings.button_padding_vertical
  assign button_padding_vertical_mobile = section.settings.button_padding_vertical_mobile
  assign button_padding_horizontal = section.settings.button_padding_horizontal
  assign button_padding_horizontal_mobile = section.settings.button_padding_horizontal_mobile
  assign button_radius = section.settings.button_radius
  assign button_border_thickness = section.settings.button_border_thickness
  assign button_border_color = section.settings.button_border_color
  assign button_border_hover_color = section.settings.button_border_hover_color
  assign button_bg_color = section.settings.button_bg_color
  assign button_bg_hover_color = section.settings.button_bg_hover_color

  assign second_button_color = section.settings.second_button_color
  assign second_button_hover_color = section.settings.second_button_hover_color
  assign second_button_border_color = section.settings.second_button_border_color
  assign second_button_border_hover_color = section.settings.second_button_border_hover_color
  assign second_button_bg_color = section.settings.second_button_bg_color
  assign second_button_bg_hover_color = section.settings.second_button_bg_hover_color

  assign text_align = ""
  if horizontal_alignment == "center"
  assign text_align = "center"
  elsif horizontal_alignment == "flex-end"
  assign text_align = "right"
  else
  assign text_align = "left"
  endif
  
-%}
<style>

  {{  title_font | font_face: font_display: 'swap' }}
  {{  subtitle_font | font_face: font_display: 'swap' }}
  {{  button_font | font_face: font_display: 'swap' }}
  
  .section-{{ section.id }} {
    margin-top: {{ margin_top | times: 0.75 | round: 0 }}px;
    margin-bottom: {{ margin_bottom | times: 0.75 | round: 0 }}px;
    margin-left: {{ margin_horizontal_mobile }}rem;
    margin-right: {{ margin_horizontal_mobile }}rem;
    overflow: hidden;
    border-radius: {{ section_radius | times: 0.6 | round: 0  }}px;
  }
  
  #shopify-section-{{ section.id }} {
    padding: 0;
    max-width: none;
    width: 100%;
  }

  #shopify-section-{{ section.id }} img {
    height: 100%;
  }

  .section-{{ section.id }}-padding {
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    position: relative;
  }
  
  .ab-banner-{{ section.id }} {
    height: {{ height_mobile }}px;
    position: relative;
  }

  .ab-banner-slide-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    opacity: 0;
    transition: opacity 0.5s ease-in-out;
  }
  
  .ab-banner-slide-{{ section.id }}--active {
    opacity: 1;
    z-index: 1;
  }
  
  .ab-banner-image-{{ section.id }} {
    width: 100%;
    height: 100%;
    object-fit: {{ image_object_fit }};
    position: absolute;
    top: 0;
    left: 0;
  }
  
  .ab-banner-image-{{ section.id }}--desktop {
    display: none;
  }

  .ab-banner-content-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    width: 100%;
    max-width: {{ section_width }}rem;
    margin: 0 auto;
    height: 100%;
    z-index: 2;
    display: flex;
    flex-direction: column;
    justify-content: {{ vertical_alignment }};
    align-items: {{ horizontal_alignment }};
    padding-top: {{ padding_top | times: 0.75 | round: 0 }}px;
    padding-bottom: {{ padding_bottom | times: 0.75 | round: 0 }}px;
    padding-left: {{ padding_horizontal_mobile }}rem;
    padding-right: {{ padding_horizontal_mobile }}rem;
    line-height: 1;
  }
  
  .ab-banner-title-{{ section.id }} {
    text-align: {{ text_align }};
  }

  .ab-banner-title-{{ section.id }} * {
    margin: 0;
    font-size: {{ title_size_mobile }}px;
    color: {{ title_color }};
    line-height: {{ title_height }}%;
    text-transform: unset;
  }

  .ab-banner-subtitle-{{ section.id }} {
    margin-top: {{ subtitle_mt | times: 0.75 | round: 0 }}px;
    text-align: {{ text_align }};
  }

  .ab-banner-subtitle-{{ section.id }} * {
    margin: 0;
    font-size: {{ subtitle_size_mobile }}px;
    color: {{ subtitle_color }};
    line-height: {{ subtitle_height }}%;
    text-transform: unset;
  }

  .ab-banner-button-wrapper-{{ section.id }} {
    margin-top: {{ buttons_mt | times: 0.75 | round: 0 }}px;
    display: flex;
    flex-direction: row;
    gap: {{ buttons_gap | times: 0.75 | round: 0 }}px;
    width: 100%;
  }

  .ab-banner-button-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: fit-content;
    font-size: {{ button_size_mobile }}px;
    color: {{ button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{ button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    background-color: {{ button_bg_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_color }};
    transition: all 0.25s ease 0s;
    position: relative;
    font-weight: 700;
    z-index: 2;
  }

  .ab-banner-button-{{ section.id }}:hover {
    background-color: {{ button_bg_hover_color }};
    border: {{ button_border_thickness }}px solid {{ button_border_hover_color }};
    color: {{ button_hover_color }};
    transition: all 0.25s ease 0s;
  }

  .ab-banner-button-second-{{ section.id }} {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    max-width: fit-content;
    font-size: {{ button_size_mobile }}px;
    color: {{ second_button_color }};
    line-height: {{ button_height }}%;
    text-align: center;
    text-transform: unset;
    text-decoration: none;
    padding: {{ button_padding_vertical_mobile }}px {{button_padding_horizontal_mobile }}px;
    border-radius: {{ button_radius }}px;
    background-color: {{ second_button_bg_color }};
    border: {{ button_border_thickness }}px solid {{ second_button_border_color }};
    transition: all 0.25s ease 0s;
    position: relative;
    font-weight: 700;
    z-index: 2;
  }

  .ab-banner-button-second-{{ section.id }}:hover {
    background-color: {{ second_button_bg_hover_color }};
    border: {{ button_border_thickness }}px solid {{ second_button_border_hover_color }};
    color: {{ second_button_hover_color }};
    transition: all 0.25s ease 0s;
  }
  
  .ab-banner-overlay-{{ section.id }} {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: {{ overlay_color }};
    opacity: {{ overlay_opacity }}%;
    pointer-events: none;
    z-index: 1;
  }
  
  .ab-banner-video-wrapper-{{ section.id }} {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    /*object-fit: cover;*/
  }
  
  .ab-banner-video-wrapper-{{ section.id }},
  .ab-banner-video-{{ section.id }} {
    height: 100%;
    width: 100%;
    object-fit: cover;
  }
  
  .ab-banner-play-button-{{ section.id }} {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 80px;
    height: 80px;
    z-index: 3;
    cursor: pointer;
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease 0s;
  }

  .as-banner-slide-has-video-{{ section.id }} .ab-banner-play-button-{{ section.id }} {
    opacity: 1;
    visibility: visible;
    pointer-events: all;
    transition: all 0.25s ease 0.75s;
  }
  
  .ab-banner-image-wrapper-playing-video-{{ section.id }} .ab-banner-play-button-{{ section.id }} {
    opacity: 0;
    visibility: hidden;
    pointer-events: none;
    transition: all 0.25s ease 0s;
  }
  
  .ab-banner-image-wrapper-playing-video-{{ section.id }} .ab-banner-video-wrapper-{{ section.id }} {
    display: block;
  }
  
  .ab-banner-image-wrapper-playing-video-{{ section.id }} .ab-banner-image-wrapper-{{ section.id }} {
    display: none;
  }
  
  .as-banner-slide-has-video-{{ section.id }} .ab-svg-placeholder {
    display: none;
  }

  @media screen and (min-width: 750px) {
    
    .section-{{ section.id }} {
      margin-top: {{ margin_top  }}px;
      margin-bottom: {{ margin_bottom  }}px;
      margin-left: {{ margin_horizontal }}rem;
      margin-right: {{ margin_horizontal }}rem;
      border-radius: {{ section_radius }}px;
    }

    .section-{{ section.id }}-padding {
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;
    }

    .ab-banner-{{ section.id }} {
      height: {{ height }}px;
    }

    .ab-banner-image-{{ section.id }}--desktop {
      display: block;
    }
    
    .ab-banner-image-{{ section.id }}--mobile {
      display: none;
    }

    .ab-banner-content-{{ section.id }} {
      padding-top: {{ padding_top }}px;
      padding-bottom: {{ padding_bottom }}px;;
      padding-left: {{ padding_horizontal }}rem;
      padding-right: {{ padding_horizontal }}rem;
    }
    
    .ab-banner-button-wrapper-{{ section.id }} {
      margin-top: {{ buttons_mt }}px;
      gap: {{ buttons_gap }}px;
    }

    .ab-banner-title-{{ section.id }} * {
      margin: 0;
      font-size: {{ title_size }}px;
    }

    .ab-banner-subtitle-{{ section.id }} {
      margin-top: {{ subtitle_mt }}px;
    }
  
    .ab-banner-subtitle-{{ section.id }} * {
      margin: 0;
      font-size: {{ subtitle_size }}px;
    }

    .ab-banner-button-{{ section.id }} {
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }
    
    .ab-banner-button-second-{{ section.id }} {
      padding: {{ button_padding_vertical }}px {{ button_padding_horizontal }}px;
      font-size: {{ button_size }}px;
    }
  }
  
</style>

{% if title_custom %}
  <style>
    .ab-banner-title-{{ section.id }} * {
      font-family: {{ title_font.family }}, {{ title_font.fallback_families }};
      font-weight: {{ title_font.weight }};
      font-style: {{ title_font.style }};
    }
  </style>
{% endif %}

{% if subtitle_custom %}
  <style>
    .ab-banner-subtitle-{{ section.id }} * {
      font-family: {{ subtitle_font.family }}, {{ subtitle_font.fallback_families }};
      font-weight: {{ subtitle_font.weight }};
      font-style: {{ subtitle_font.style }};
    }
  </style>
{% endif %}

{% if button_custom %}
  <style>
    .ab-banner-button-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }

    .ab-banner-button-second-{{ section.id }} {
      font-family: {{ button_font.family }}, {{ button_font.fallback_families }};
      font-weight: {{ button_font.weight }};
      font-style: {{ button_font.style }};
    }
  </style>
{% endif %}

{% if text_align == "center" %}
  <style>
    .ab-banner-button-wrapper-{{ section.id }} {
      justify-content: center;
    }
  </style>
{% elsif text_align == "right" %}
  <style>
    .ab-banner-button-wrapper-{{ section.id }} {
      justify-content: end;
    }
  </style>
{% endif %}

<div style="background-color:{{ background_color }};" class="section-{{ section.id }}" >
  <div class="section-{{ section.id }}-padding">
    <div class="ab-banner-{{ section.id }}" data-interval="{{ interval }}000">
      {% for block in section.blocks %}
        {% if block.settings.video != blank
          or block.settings.video_url.id != blank
        %}
          {% assign has_video = true %}
        {% else %}
          {% assign has_video = false %}
        {% endif %}
        <div
          class="
            ab-banner-slide-{{ section.id }}
            {% if forloop.first %}
              ab-banner-slide-{{ section.id }}--active
            {% endif %}
            {% if has_video == true %}
              as-banner-slide-has-video-{{ section.id }}
            {% endif %}
          "
          data-index="{{ forloop.index0 }}"
          {{ block.shopify_attributes }}
          {% if block.settings.autoplay %}
            data-autoplay="true"
          {% endif %}
        >
          {% assign video = block.settings.video %}
      
         {% assign video = block.settings.video %}
            <div class="ab-banner-video-wrapper-{{ section.id }}">
              {% if video != blank %}
                {% comment %} We can't use loop here since it won't trigger the 'end' event loop: true {% endcomment %}
                {% comment %} And using loop:ture doesn't prevent the black screen effect when the video ends {% endcomment %}
                  <video
                    data-src="{{ video.sources[1].url }}"
                    autoplay
                    muted
                    playsinline
                    preload="none"
                    loop
                    class="lazy {{ 'ab-banner-video-' | append: section.id }}"
                  ></video>
              {% elsif block.settings.video_url.id != blank %}
                <template data-youtube-template>
                  <div
                    class="ab-banner-video-{{ section.id }}"
                    data-video-id="{{ block.settings.video_url.id }}"
                  ></div>
                </template>
              {% endif %}
            </div>


          <div class="ab-banner-image-wrapper-{{ section.id }}">
            {% assign image = block.settings.image %}
            {% if image == blank %}
              {% assign svg_class = 'ab-svg-placeholder ab-banner-image-'
                | append: section.id
              %}
              {{ 'image' | placeholder_svg_tag: svg_class }}
            {% else %}
              <img
                class="
                  ab-banner-image-{{ section.id }}
                  {% if block.settings.image_mobile != blank %}
                    ab-banner-image-{{ section.id }}--desktop
                  {% endif %}
                "
                src="{{ image | img_url: '500x' }}"
                srcset="
                  {{ image | img_url: '500x' }} 500w,
                  {{ image | img_url: '800x' }} 800w,
                  {{ image | img_url: '1200x' }} 1200w,
                  {{ image | img_url: '1600x' }} 1600w,
                  {{ image | img_url: '2000x' }} 2000w,
                  {{ image | img_url: 'master' }} 2400w
                "
                alt="{{ image.alt }}"
              >
            {% endif %}

            {% if block.settings.image_mobile != blank %}
              {% assign image = block.settings.image_mobile %}
              <img
                class="ab-banner-image-{{ section.id }} ab-banner-image-{{ section.id }}--mobile"
                src="{{ image | img_url: '500x' }}"
                srcset="
                  {{ image | img_url: '500x' }} 500w,
                  {{ image | img_url: '800x' }} 800w,
                  {{ image | img_url: '1200x' }} 1200w,
                  {{ image | img_url: '1600x' }} 1600w,
                  {{ image | img_url: '2000x' }} 2000w,
                  {{ image | img_url: 'master' }} 2400w
                "
                alt="{{ image.alt }}"
              >
            {% endif %}
          </div>

          <span class="ab-banner-overlay-{{ section.id }}"></span>

          <div class="ab-banner-play-button-{{ section.id }}">
            {% if play_button_image != blank %}
              <img style="width: 100%;" src="{{ play_button_image | img_url: 'master' }}" alt="Play button">
            {% else %}
              <svg xmlns="http://www.w3.org/2000/svg" style="width: 100%;" viewBox="0 0 80 81" fill="none">
                <g clip-path="url(#clip0_91_1286)">
                  <path d="M80 40.7427C80 18.6513 62.0914 0.742676 40 0.742676C17.9086 0.742676 0 18.6513 0 40.7427C0 62.8341 17.9086 80.7427 40 80.7427C62.0914 80.7427 80 62.8341 80 40.7427Z" fill="white"/>
                  <path d="M54 40.7427L33 52.867V28.6183L54 40.7427Z" fill="#030303"/>
                </g>
                <defs>
                  <clipPath id="clip0_91_1286">
                    <rect width="80" height="81" fill="white"/>
                  </clipPath>
                </defs>
              </svg>
            {% endif %}
          </div>

          <div class="ab-banner-content-{{ section.id }}" >
            {% if block.settings.title != blank %}
              <div class="ab-banner-title-{{ section.id }}">
                {{ block.settings.title }}
              </div>
            {% endif %}
            {% if block.settings.subtitle != blank %}
              <div class="ab-banner-subtitle-{{ section.id }}">
                {{ block.settings.subtitle }}
              </div>
            {% endif %}
            <div class="ab-banner-button-wrapper-{{ section.id }}">
              {% if block.settings.button != blank %}
                <a
                  href="{{ block.settings.button_url }}"
                  class="ab-banner-button-{{ section.id }}"
                >
                  {{ block.settings.button }}
                </a>
              {% endif %}
              {% if block.settings.second_button != blank %}
                <a
                  href="{{ block.settings.second_button_url }}"
                  class="ab-banner-button-second-{{ section.id }}"
                >
                  {{ block.settings.second_button }}
                </a>
              {% endif %}
            </div>
          </div>
        </div>
      {% endfor %}
    </div>
  </div>
</div>

<script defer src="https://www.youtube.com/iframe_api"></script>
<script src="https://cdn.jsdelivr.net/npm/vanilla-lazyload@19.1.3/dist/lazyload.min.js"></script>                         

<script>
  (function () {

    var lazyLoadInstance = new LazyLoad();

    window.addEventListener(
      "LazyLoad::Initialized",
      function (event) {
        window.lazyLoadInstance = event.detail.instance;
      },
      false
    );
    
    let slideSwitchTimeoutID;
    let videoPlayers = {};
    let hasOnlyOneSlide = false;
    let videos = document.querySelectorAll('.ab-banner-{{ section.id }} video');
    if(videos) {
      videos.forEach(el => {
        setTimeout(()=> {
          el.removeAttribute('loop');
        }, 1000);
      })
    }

    function getNextIndex() {
      const images = document.querySelectorAll(
        '.ab-banner-slide-{{ section.id }}'
      );
      const activeImage = document.querySelector(
        '.ab-banner-slide-{{ section.id }}--active'
      );
      const activeIndex = Array.prototype.indexOf.call(images, activeImage);
      const nextIndex = (activeIndex + 1) % images.length;
      return nextIndex;
    }

    function autoSlideSwitch(index) {
      //console.log('autoSlideSwitch', index);
      const images = document.querySelectorAll(
        '.ab-banner-slide-{{ section.id }}'
      );
      const activeSlide = document.querySelector(
        '.ab-banner-slide-{{ section.id }}--active'
      );
      
      
      const activeIndex = Array.prototype.indexOf.call(images, activeSlide);
      const newActiveSlide = images[index];

      //if (activeIndex === index) return;

      activeSlide.classList.remove('ab-banner-slide-{{ section.id }}--active');
      newActiveSlide.classList.add('ab-banner-slide-{{ section.id }}--active');

      // TODO: Check if we have any videos in the new active slide
      // 1. if we have <video>, play it:
      const oldVideoEl = activeSlide.querySelector('video');
      if (oldVideoEl) {
        oldVideoEl.pause();
      }

      const newVideoEl = newActiveSlide.querySelector('video');
      if (newVideoEl) {
        if (getIfAutoplay(newActiveSlide)) {
          newVideoEl.play();
        }
        // if the video is not playing, show the play button
        if (newVideoEl.paused) {
          handleWhenVideoPaused(newActiveSlide);
        } else {
          handleWhenVideoPlay(newActiveSlide);
        }
        newVideoEl.addEventListener('ended', () => {
          if (hasOnlyOneSlide) {
            newVideoEl.play();
          } else {
            handleWhenVideoPaused(activeSlide);
            autoSlideSwitch(getNextIndex());
          }
        });
      }

      // 2. if we have <template data-youtube-template>, load and unload youtube video
      const oldYoutubeEl = activeSlide.querySelector(
        '.ab-banner-video-{{ section.id }}'
      );
      //if (oldYoutubeEl) unloadYoutubeVideo(activeSlide); // no need to unload

      const newYoutubeEl = newActiveSlide.querySelector(
        '[data-youtube-template]'
      );
      if (newYoutubeEl) loadYoutubeVideo(newActiveSlide);

      if (newVideoEl || newYoutubeEl) {
        // have any video, wait for them to finish before we call the next slide
        //console.log('waiting for video to finish');
        if (!getIfAutoplay(newActiveSlide)) {
          const intervalTime = document.querySelector(
            '.ab-banner-{{ section.id }}'
          ).dataset.interval;
          slideSwitchTimeoutID = setTimeout(() => {
            autoSlideSwitch(getNextIndex());
          }, intervalTime);
        }
      } else {
        // no video, wait for interval time to call next slide
        //console.log('no video, wait for interval time');
        const intervalTime = document.querySelector(
          '.ab-banner-{{ section.id }}'
        ).dataset.interval;
        slideSwitchTimeoutID = setTimeout(() => {
          autoSlideSwitch(getNextIndex());
        }, intervalTime);
      }
    }

    const videoPlayingClass =
      'ab-banner-image-wrapper-playing-video-{{ section.id }}';
    function handleWhenVideoPaused(slideEl) {
      slideEl.classList.remove(videoPlayingClass);
    }
    function handleWhenVideoPlay(slideEl) {
      slideEl.classList.add(videoPlayingClass);
    }

    function getIfAutoplay(slideEl) {
      // check if slideEl has data-autoplay
      const autoplay = slideEl.dataset.autoplay;
      if (autoplay) return true;
      else return false;
    }

    function loadYoutubeVideo(slideEl) {
      const index = slideEl.dataset.index;
      // Check if we have already loaded the video in the videoPlayers:
      if (videoPlayers[index]) {
        if (getIfAutoplay(slideEl)) videoPlayers[index].playVideo();
        return;
      } else if (typeof YT !== 'undefined' && YT.loaded) {
        // print all the if statments:
        const template = slideEl.querySelector('[data-youtube-template]');
        let childEl = template.content.firstElementChild.cloneNode(true);

        const videoWrapper = slideEl.querySelector(
          '.ab-banner-video-wrapper-{{ section.id }}'
        );
        childEl = videoWrapper.appendChild(childEl);

        const videoId = childEl.dataset.videoId;
        const player = new YT.Player(childEl, {
          height: '100%',
          width: '100%',
          videoId: videoId,
          playerVars: {
            mute: 1,
            playinline: 1,
            //loop: 1,
            //playlist: [videoId],
            //autoplay: 1,
            controls: 0,
          },
          // on finished, play next video:
          events: {
            onReady: () => {
              if (getIfAutoplay(slideEl)) {
                player.playVideo();
              }
              // check if the video is playing to see if ios is blocking autoplay:
            },
            onStateChange: (event) => {
              if (event.data === YT.PlayerState.PLAYING) {
                handleWhenVideoPlay(slideEl);
              } else if (event.data === YT.PlayerState.PAUSED) {
                handleWhenVideoPaused(slideEl);
              } else if (event.data === YT.PlayerState.ENDED) {
                if (hasOnlyOneSlide) {
                  player.playVideo();
                } else {
                  autoSlideSwitch(getNextIndex());
                  handleWhenVideoPaused(slideEl);
                }
              }
            },
          },
        });
        videoPlayers[index] = player;
      } else {
        setTimeout(() => loadYoutubeVideo(slideEl), 300);
      }
    }
    function unloadYoutubeVideo(slideEl) {
      const iframe = slideEl.querySelector('iframe');
      if (iframe) {
        iframe.remove();
      }
    }

    function setupPlayButton(slideEl) {
      const playButton = slideEl.querySelector(
        '.ab-banner-play-button-{{ section.id }}'
      );
      if (!playButton) return;
      playButton.addEventListener('click', () => {
        clearTimeout(slideSwitchTimeoutID);
        handleWhenVideoPlay(slideEl);
        try {
          const videoWrapper = slideEl.querySelector(
            '.ab-banner-video-wrapper-{{ section.id }}'
          );
          videoWrapper.classList.add(
            'ab-banner-video-wrapper-{{ section.id }}--playing'
          );
          const videoEl = slideEl.querySelector('video');
          if (videoEl) {
            videoEl.play();
          } else {
            const youtubeEl = slideEl.querySelector('iframe');
            if (youtubeEl) {
              const index = slideEl.dataset.index;
              videoPlayers[index].playVideo();
            }
          }
        } catch (e) {
          console.log(e);
        }
      });
    }

    function Init() {
      const slides = document.querySelectorAll(
        '.ab-banner-slide-{{ section.id }}'
      );
      const size = slides.length;
      if (size < 1) return;
      hasOnlyOneSlide = size === 1 ? true : false;

      // setup play button:
      slides.forEach((slideEl) => {
        setupPlayButton(slideEl);
      });

      autoSlideSwitch(0);

      if (window.Shopify && window.Shopify.designMode)
        document.addEventListener('shopify:section:unload', function (event) {
          if (event.detail.sectionId !== '{{ section.id }}') return;
          if (slideSwitchTimeoutID) clearTimeout(slideSwitchTimeoutID);
          videoPlayers = {};
        });
    }

    Init();
    if (window.Shopify && window.Shopify.designMode) {
      document.addEventListener('shopify:section:load', function (event) {
        if (event.detail.sectionId !== '{{ section.id }}') return;
        Init();
      });
    }
  })();
</script>

{% schema %}
{
  "name": "SS - Video banner",
  "tag": "section",
  "settings": [
    {
      "type": "header",
      "content": "Section height"
    },
    {
      "type": "range",
      "id": "height",
      "min": 100,
      "max": 1200,
      "step": 20,
      "unit": "px",
      "label": "Height",
      "default": 700
    },
    {
      "type": "range",
      "id": "height_mobile",
      "min": 100,
      "max": 1200,
      "step": 20,
      "unit": "px",
      "label": "Height mobile",
      "default": 240
    },
    {
      "type": "header",
      "content": "Overlay:"
    },
    {
      "type": "range",
      "id": "overlay_opacity",
      "min": 0,
      "max": 100,
      "step": 1,
      "unit": "%",
      "label": "Overlay opacity",
      "default": 0
    },
    {
      "type": "header",
      "content": "Image settings"
    },
    {
      "type": "image_picker",
      "id": "play_button_image",
      "label": "Play button image (optional)",
      "info": "Overrides the default play button"
    },
    {
      "type": "range",
      "id": "interval",
      "min": 1,
      "max": 20,
      "label": "Image switch interval",
      "unit": "s",
      "default": 5,
      "info": "(For images) The interval between image switches."
    },
    {
      "type": "select",
      "label": "Image fit",
      "id": "image_object_fit",
      "default": "cover",
      "options": [
        {
          "label": "Cover",
          "value": "cover"
        },
        {
          "label": "Fill",
          "value": "fill"
        }
      ]
    },
    {
      "type": "header",
      "content": "Content Alignment settings:"
    },
    {
      "type": "select",
      "id": "vertical_alignment",
      "label": "Vertical alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Top"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Bottom"
        }
      ],
      "default": "center"
    },
    {
      "type": "select",
      "id": "horizontal_alignment",
      "label": "Horizontal alignment",
      "options": [
        {
          "value": "flex-start",
          "label": "Left"
        },
        {
          "value": "center",
          "label": "Center"
        },
        {
          "value": "flex-end",
          "label": "Right"
        }
      ],
      "default": "center"
    },
    {
      "type": "header",
      "content": "Title settings"
    },
    {
      "type": "checkbox",
      "id": "title_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "title_font",
      "label": "Title Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "title_size",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Title Size",
      "default":50
    },
    {
      "type": "range",
      "id": "title_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Title Size - Mobile",
      "default": 32
    },
    {
      "type": "range",
      "id": "title_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Title Line Height",
      "default": 130
    },
    {
      "type": "header",
      "content": "Subtitle settings"
    },
    {
      "type": "checkbox",
      "id": "subtitle_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "subtitle_font",
      "label": "Subtitle Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "subtitle_size",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Subtitle Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "subtitle_size_mobile",
      "min": 0,
      "max": 72,
      "step": 2,
      "unit": "px",
      "label": "Subtitle Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "subtitle_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Subtitle Line Height",
      "default": 130
    },
    {
      "type": "range",
      "id": "subtitle_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Subtitle Margin Top",
      "default": 20
    },
    {
      "type": "header",
      "content": "Buttons Settings"
    },
    {
      "type": "range",
      "id": "buttons_mt",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Buttons Margin Top",
      "default": 20
    },
    {
      "type": "range",
      "id": "buttons_gap",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Buttons Gap",
      "default": 20
    },
    {
      "type": "header",
      "content": "Button Settings"
    },
    {
      "type": "checkbox",
      "id": "button_custom",
      "label": "Use Custom Font",
      "default": false
    },
    {
      "type": "font_picker",
      "id": "button_font",
      "label": "Button Font Family",
      "default": "josefin_sans_n4"
    },
    {
      "type": "range",
      "id": "button_size",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Button Size",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_size_mobile",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "px",
      "label": "Button Size - Mobile",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_height",
      "min": 50,
      "max": 200,
      "step": 10,
      "unit": "%",
      "label": "Button Line Height",
      "default": 120
    },
    {
      "type": "range",
      "id": "button_padding_vertical",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Button Padding Vertical",
      "default": 16
    },
    {
      "type": "range",
      "id": "button_padding_vertical_mobile",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Button Padding Vertical - Mobile",
      "default": 16
    },
    {
       "type": "range",
       "id": "button_padding_horizontal",
       "min": 0,
       "max": 100,
       "step": 2,
       "unit": "px",
       "label": "Button Padding Horizontal",
       "default": 32
    },
    {
       "type": "range",
       "id": "button_padding_horizontal_mobile",
       "min": 0,
       "max": 100,
       "step": 2,
       "unit": "px",
       "label": "Button Padding Horizontal - Mobile",
       "default": 32
    },
    {
       "type": "range",
       "id": "button_radius",
       "min": 0,
       "max": 100,
       "step": 2,
       "unit": "px",
       "label": "Button Roundness",
       "default": 0
    },
    {
       "type": "range",
       "id": "button_border_thickness",
       "min": 0,
       "max": 10,
       "step": 1,
       "unit": "px",
       "label": "Button Border Thickness",
       "default": 0
    },
    {
      "type": "header",
      "content": "First Button Colors"
    },
    {
      "type": "color",
      "label": "Button Text Color",
      "id": "button_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Hover Text Color",
      "id": "button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Color",
      "id": "button_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Hover Color",
      "id": "button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Border Color",
      "id": "button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Border Hover Color",
      "id": "button_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Second Button Colors"
    },
    {
      "type": "color",
      "label": "Button Text Color",
      "id": "second_button_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Hover Text Color",
      "id": "second_button_hover_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Color",
      "id": "second_button_bg_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Button Background Hover Color",
      "id": "second_button_bg_hover_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Border Color",
      "id": "second_button_border_color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Button Border Hover Color",
      "id": "second_button_border_hover_color",
      "default": "#000000"
    },
    {
      "type": "header",
      "content": "Section Colors"
    },
    {
      "type": "color",
      "label": "Title color",
      "id": "title_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "label": "Subtitle color",
      "id": "subtitle_color",
      "default": "#FFFFFF"
    },
    {
      "type": "color",
      "id": "overlay_color",
      "label": "Overlay color",
      "default": "#000000"
    },
    {
      "type": "color",
      "label": "Section background color",
      "id": "background_color",
      "default": "#535353"
    },
    {
      "type": "header",
      "content": "Section padding"
    },
    {
      "type": "range",
      "id": "padding_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding top",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Padding bottom",
      "default": 0
    },
    {
      "type": "range",
      "id": "padding_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Padding sides",
      "default": 3
    },
    {
      "type": "range",
      "id": "padding_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Padding sides mobile",
      "default": 1.5
    },
    {
      "type": "header",
      "content": "Section margin"
    },
    {
      "type": "range",
      "id": "margin_top",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin top",
      "default": 4
    },
    {
      "type": "range",
      "id": "margin_bottom",
      "min": 0,
      "max": 100,
      "step": 4,
      "unit": "px",
      "label": "Margin bottom",
      "default": 4
    },
    {
      "type": "range",
      "id": "margin_horizontal",
      "min": 0,
      "max": 30,
      "step": 1,
      "unit": "rem",
      "label": "Margin sides",
      "default": 0
    },
    {
      "type": "range",
      "id": "margin_horizontal_mobile",
      "min": 0,
      "max": 15,
      "step": 0.5,
      "unit": "rem",
      "label": "Margin sides mobile",
      "default": 0
    },
    {
      "type": "header",
      "content": "Section width"
    },
    {
      "type": "range",
      "id": "section_width",
      "min": 80,
      "max": 200,
      "step": 5,
      "unit": "rem",
      "label": "Section content max width",
      "default": 120
    },
    {
      "type": "range",
      "id": "section_radius",
      "min": 0,
      "max": 100,
      "step": 2,
      "unit": "px",
      "label": "Section Roundness",
      "default": 0
    },
    {
      "type": "checkbox",
      "id": "lazy",
      "label": "Lazy load",
      "info": "Lazy load images below fold for speed optimisation",
      "default": false
    }
  ],
  "blocks": [
    {
      "type": "slide",
      "name": "Slide",
      "settings": [
        {
          "type": "header",
          "content": "Video",
          "info": "If not set, image will be used instead."
        },
        {
          "type": "checkbox",
          "id": "autoplay",
          "label": "Autoplay",
          "default": true
        },
        {
          "type": "video",
          "id": "video",
          "label": "Shopify-hosted video"
        },
        {
          "type": "video_url",
          "id": "video_url",
          "label": "Youtube Video URL",
          "accept": ["youtube"]
        },
        {
          "type": "header",
          "content": "Image",
          "info": "Image if no video, or before pressing play"
        },
        {
          "type": "image_picker",
          "id": "image",
          "label": "Image"
        },
        {
          "type": "image_picker",
          "id": "image_mobile",
          "label": "Image (Mobile)",
          "info": "Optional"
        },
        {
          "type": "header",
          "content": "Title settings"
        },
        {
          "type": "richtext",
          "id": "title",
          "label": "Title",
          "default": "<h1>Meet The Perfect Travel Shoes</h1>"
        },
        {
          "type": "header",
          "content": "Subtitle settings"
        },
        {
          "type": "richtext",
          "id": "subtitle",
          "label": "Subtitle",
          "default": "<p>Super Packable. Versatile. And All-Day (And Night) Adventure Ready.</p>"
        },
        {
          "type": "header",
          "content": "Buttons Settings"
        },
        {
          "type": "text",
          "id": "button",
          "label": "Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "button_url",
          "label": "Button URL",
          "default": "/collections/all"
        },
        {
          "type": "text",
          "id": "second_button",
          "label": "Second Button Text",
          "default": "Shop Now"
        },
        {
          "type": "url",
          "id": "second_button_url",
          "label": "Second Button URL",
          "default": "/collections/all"
        }
      ]
    }
  ],
  "presets": [
    {
      "name": "SS - Video Banner",
      "blocks": [
        {
          "type": "slide"
        }
      ]
    }
  ]
}
{% endschema %}